<%= form_with(model: pet, local: true) do |form| %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :number %>
    <%= form.text_field :number %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.text_field :age %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.text_field :imagd%>
  </div>

  <div class="actions">
    <%= form.submit 'save' %>
  </div>
<% end %>