<%# form_with(model: pet, local: true) do |form| %>
<%= form_for :pet do |f| %>
<div>
    <%= f.label 'owner phone no' %>
    <%= f.text_field :number %>
  </div>

  <div>
    <%= f.label 'pet type' %>
    <%= f.text_field :name %>
  </div>

  
  <div>
    <%= f.label 'pet age' %>
    <%= f.text_field :age %>
  </div>

  <div >
    <%= f.label 'pet image' %>
    <%= f.text_field :img%>
  </div>
  <div >
    <%= f.label 'description' %>
    <%= f.text_field :description%>
  </div>

  <div>
    <%= f.submit 'find home' %>
  </div>

<% end %>