<!DOCTYPE html>
<html>
  <head>
    <title>Project2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
   <link href="https://fonts.googleapis.com/css?family=Anton|Rubik&display=swap" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">
  </head>

  <body  class="<%= controller_name %> <%= action_name %>">


<nav class="navbar navbar-expand-lg navbar-light bg-light container-fluid">

<%= link_to "Pets Home",root_path, :class => "navbar-brand bold text brand-color"%>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    
      <li class="nav-item active">
      <%= link_to "Adopt a pet",root_path, :class => "nav-link"  %>
        
      </li>
      
      

      <% if user_signed_in? %>
      <li class="nav-item active">
        <%= link_to "rehome your pet",new_pet_path , :class => "nav-link"%>
      </li>

      

      <li class="nav-item active">
        <%= link_to "sign out",destroy_user_session_path, method: :delete ,:class => "nav-link text-success" %>
      </li>

      <% else %>

      <li class="nav-item active">
        <%= link_to "sign in",new_user_session_path, :class => "nav-link text-success" %>
      </li>

      <li class="nav-item active">
        <%= link_to "sign up",new_user_registration_path, :class => "nav-link text-success" %>
      </li>

      <% end%>
     
    </ul>
    
  </div>
  <div>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert  %></p>
  </div>
  
</nav>
  
    <%= yield %>
  </body>
</html>
